@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  h2 {
    @apply text-2xl sm:text-3xl font-semibold;
  }
}

/* a.active {
  background-color: red !important;
} */

.chart-container .recharts-wrapper {
  margin: 0 auto 0 auto;
}

/* .btn {
  @apply rounded-xl;
} */

body {
  font-family: 'Inter', serif;
}
